<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Botox</title>
  <link rel="shortcut icon" type="image/png" href="/images/logos/favicon.png" />
  <!-- Private Style -->
  <style>
    body {
      background-image: url("/images/backgrounds/8150248.jpg");
      background-size: cover;
    }
    </style>
    <link rel="stylesheet" href="/scss/styles.css" />
</head>
<body>
  <div class="page-wrapper login-page" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div class="login-context">
      <div>
        <i class="ti ti-server" style="font-size: 50px;"></i>
      <h2>ERROR</h2>
        <p>Ooops this page is not working</p>
      </div>
    </div>
  </div>
  <script src="/libs/jquery/dist/jquery.min.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>