<!DOCTYPE HTML>
<html>
<head>
<title>CleanSlate App</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/home/css/style.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
  <div class="header">
	 <div class="wrap">
		 <div class="header_top">
		 	     <div class="logo">
					 <a href="/"><img height="100" width="150" src="/images/logos/logo.png"></a>
					</div>	
						<div class="menu">
						    <ul>
								<li class="active"><a href="/">Home</a></li>
								<li><a href="/reset">RESET YOUR PHONE</a></li>
								<li><a href="/download/cleanslate.apk">Download</a></li>
								<div class="clear"></div>
							</ul>
						</div>							
	    		 <div class="clear"></div>
	        </div>
	    </div>
	 </div>			      	
 <div class="main">
	 	<div class="content">	
	 		<div class="wrap">        
            <div class="content_top">   
            	<div class="content_top-left">         
            		<div class="iphone">
            		<img src="/home/images/iphone2.png" alt="" />
            	</div>
            </div>
            	<div class="apps_desc">
            		<h1><span>Protect your data, Anytime, Anywhere!</span></h1>
            			<h1>Erase your data with ease</h1>
            		<div class="download">
            			<a href="/download/cleanslate.apk"><img src="/home/images/download-apk.svg"></a>
            		</div>
            </div>  
            	   <div class="clear"></div>
               </div>
             </div>
            <div class="wrapper">
              <div class="wrap">
               <div class="content_bottom">
               	<div class="section group">
				<div class="cont span_2_of_3">
				       <h2>How to use our service</h2>
					   <ul>
						   <li>get your subscription code <a href="/payment">HERE</a></li>
						   <li>download CleanSlate app <a href="/download/cleanslate.apk">HERE</a> and install to your device</li>
						   <li>run the app and register with your subscription code, and remember your user ID and reset code</li>
						   <li>whenever you need to Factory reset your device just go to <a href="/reset">THIS PAGE</a>, and submit your user ID and reset code</li>
					   </ul>
					<div class="demo download">
						<a href="/payment" class="button button-icon button-icon-download">Get subscription code</a>
					</div>
				   <div class="demo download">
			  			<a href="/download/cleanslate.apk" class="button button-icon button-icon-download">Download Now</a>
			  		</div>
				</div>
				<div class="rsidebar sidebar">
				      <h3>Share With Us</h3>
				      <div class="phone_apps">
				      	<ul>
				      		<li class="facebook"><a href="#"> </a></li>
				      		<li class="twitter"><a href="#"> </a></li>
				      		<li class="google"><a href="#"> </a></li>
				      		<li class="rss"><a href="#"> </a></li>
				      	</ul>
				      </div>
				</div>
		    </div>
               </div>             
            </div>
		</div>	        		
  		</div>
		</div>		
   <div class="footer">
   	 <div class="wrap">
		     <div class="copy_right">
				<p>&copy 2024 CleanSlate . All Rights Reserved</p>
		   	</div>
		</div>		 
  </div>  
</body>
</html>

